.jumbotron{
    background-color: yellow;
    color: black;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 20px;
}

/* Creando estilos para una clase card-hotel */
.card-hotel{
    /* Aprovechando que son elementos flex también hay que declarar algo aquí */
    flex: 1 150px; /* Con esta intrucción lo que le mandamos son 2 parametros: Para saber cuanto queremos que crezca el elemento
    , de cuanto será el ancho.  
    Al mandarle 1, lo que le decimos es que la propiedad Flex-Grow se mantenga intacta, si le pusieramos 2 significa que usara
    hasta el doble de ancho
    
    La otra propiedad es Flex-basis especifica cual es el ancho definido
    
    Al agregar esta propiedad ya no es necesario especificar el ancho de la columna con bootstrap por lo que debemos removerla del html*/

    padding: 2px 5px 2px 5px; /* Va en sentido horario, up, right, down, left */
    margin-top: 10px;
}

.btn-reserva{
    width: 100%; /* Le da el tamaño máximo */
    /* Mandandolo al fondo: */
    
}